<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".SapioApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".ui.view.SplashActivity"
            android:theme="@style/Theme.Sapio.NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sapio"
            android:exported="true">
        </activity>
        <activity
          android:name=".ui.view.EvaluationsActivity"
          android:screenOrientation="portrait"
          android:theme="@style/Theme.Sapio"
          android:exported="true">
        </activity>
        <activity
            android:name=".ui.view.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sapio"
            android:exported="true">
        </activity>
    </application>

</manifest>
